$bg0: #fbf1c7;
$bg1: #ebdbb2;
$bg2: #d5c4a1;
$bg3: #bdae93;
$bg4: #a89984;
$fg0: #3c3836;
$gray: #7c6f64;
$darkred: #9d0006;
$red: #cc241d;
$darkgreen: #79740e;
$green: #98971a;
$darkyellow: #b57614;
$yellow: #d79921;
$darkblue: #076678;
$blue: #458588;
$darkorange: #af3a03;
$orange: #d65d0e;
